<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Latihan Flask</title>
</head>
<body>
    <h1>Formulir Pendaftaran Karyawan</h1>
    <form method="POST" action="http://localhost:5000/registrasi">
        <p>NIK : <input type="text" name="nik"></p>
        <p>Nama : <input type="text" name="nama"></p>
        <p>Dept ID : <input type="text" name="dept"></p>
        <p><input type="submit" value="Send"></p>
    </form>
</body>
</html>